.intro-page {
    padding-top: 35px;
    padding-left: 10%;
    width: 90%;
    height: auto;
}

.title-div {
    font-size: 50px;
    color: #212121;
}

.subtitle-div {
    margin-top: 5px;
    font-size: 25px;
    color: rgb(163, 171, 179);
}