.intro-page {
    width: 100%;
    height: 100%;
    color: #424242;
    background-color: #FFFAFA;
}

.signature-div {
    position: absolute;
    margin-top: 20px;
    width: 100%;
}

.signature-label {
    margin-right: 20px;
    float: right;
    color: #D32F2F;
}

.center-div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    text-align: center;
}

.title-did {
    font-size: 50px;
    color: #212121;
}

.illustration-div {
    font-size: 30px;
}

.title-year {
    font-size: 15px;
    margin-bottom: 0px;
}

.title-month {
    font-size: 25px;
    margin-top: 0px;
}

.input-text {
    border-left: solid 3.5px #D32F2F;
    border-top,
    border-bottom,
    border-right: solid 1.5px #424242;
    height: 40px;
    width: 300px;
    font-size: 20px;
    margin-top: 10px;
}

.submit-button {
    background-color: #D32F2F;
    color: #fafafa;
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    border: 0px;
}

.top-nav {
    width: 100%;
    height: 60px;
    background-color: #D32F2F;
    color: #FFFFFF;
    line-height: 60px;
    font-size: 25px;
}