body {
    background-color: #FFFAFA;
}

.nav-div {
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

.link-div {
    font-size: 30px;
    margin-left: 10px;
    border-bottom: solid 1px #D32F2F;
}